body {
	padding-top: 20px;
}

a {
  	text-decoration: none;
}

td {
	text-align: center;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.background{
	background-image: url(../img/background.jpg);
}

.navbar {
	margin-bottom: 20px;
}

.mypanel{
	max-height: 330px;
	background-color: white;
}

.main{
    text-align: center;
    display: block;
	position: absolute;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.content{
    text-align: center;
    display: inline-block;
}

.div-table{
	text-align: center;
	margin: auto;
	/*background-color: #D3D3D3;*/
	border-radius: 20px;
	
}
table.table thead{
    background-color: #DDDDDD;
    border-color: #DDDDDD;
}

table.table{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.padtop{
	padding-top: 20px;
}

.panel-center{
    text-align: center;
    padding-bottom: 20px;
}

.bigicon {    
    color:white;
}

ul.dropdown-cart{
    min-width:250px;
    border: 2px solid #343434;
    padding: 2px;
    margin: 7px;
    margin-top: 11px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
    
}
ul.dropdown-cart li .item:hover{
    background-color:#c3c5c5;
    
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

.clickable{
    cursor: pointer;
}


.categoryTitle{
    margin: 0px;
    font-size: 16pt;
}
.traits-list li.list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}
.traits-list p {
    text-indent: 20px;
    margin-bottom: 0; 
}

.errorMessageBody{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

input[type=checkbox]{
    margin: 5px 10px 0 0;
}

.sliderContainer .slider.slider-vertical{
	margin-top: 6pt;
	height: 110px;	
}
.slider-handle{
	cursor:pointer;
}
.gradesDescriptionBlock p {
	text-align: left;
	margin-bottom: 0px;
}
.gradeIcon{
	height: 20px;
	margin-right: 10px;
}

.gradeComment.form-control{
	width: 100%;
	height: 150px;
}
.traitFeedbackContainer h3.traitFeedbackContainer__title,
.traitFeedbackContainer h4.traitFeedbackContainer__title,
{
	font-weight: 700;	
}
#projectTraitsManagerModal .modal-dialog{
    overflow-y: initial !important
}
#projectTraitsManagerModal .modal-body{
    height: 500px;
    overflow-y: auto;
}
.clickable{
    cursor: pointer;
}
.slider.slider-vertical .slider-track-high {
    background-color: #42A2D3;
}
.submitButtomToLink {
     background:none!important;
     margin: 15px;
     border:none; 
     font: inherit;
     /*border is optional*/
     font-weight: bold;
     cursor: pointer;
}
.submitButtomToLink:hover {
    color: gray;
}